# Para los modelos
transformers 
torch 
torchvision 
torchaudio 
--index-url https://download.pytorch.org/whl/cu128 #cuda 12.8
nltk
sentencepiece
sacremoses
# revisar https://pytorch.org/get-started/locally/ por otras versiones de cuda
# Para la API
fastapi[standard]
pydantic
httpx
uvicorn[standard]


# en un entorno real se tienen que separar las dependencias de los archivos
# pero por ahora estan todos unidos