# Para los modelos
torch 
torchvision 
torchaudio 
--index-url https://download.pytorch.org/whl/cu128 #cuda 12.8
# revisar https://pytorch.org/get-started/locally/ por otras versiones de cuda
transformers
# Para la API
fastapi[standard]
pydantic
httpx
uvicorn[standard]


# en un entorno real se tienen que separar las dependencias de los archivos
# pero por ahora estan todos unidos